.footer {
		
  --bs-gutter-x: #{rem(10)};
  @include media-breakpoint-down(md) {
    --bs-gutter-x: #{rem(30)};
  }

	margin-top: auto;
  --sPT: #{rem(60)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-y: var(--bs-gutter-x);
	}

	background: $purple;
  color: white;
  overflow: hidden;

	&__logo-wrap {
    max-width: 100%;
    display: inline-block;
    margin-bottom: rem(40);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(118);
    }
    img {
      max-width: 100%;
    }
	}

  &__text {
    @include media-breakpoint-up(md) {
      padding-bottom: rem(30);
    }
  }
  .container {
    position: relative;
  }

	.menu {
    flex-direction: column;
    text-align: start;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      padding-left: rem(30);
      margin-top: rem(-7);

      &:after {
        content: '';
        height: 800px;
        width: 1px;
        background: white;
        opacity: .3;

        position: absolute;
        top: calc(var(--sPT) * -1);
        left: -5px;
        z-index: -1;
      }
    }

    a {
      padding: rem(7) 0;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      &:hover {
        color: $primary;
      }
    }
  }

  &__copyr {
    color: $gray-400;
    display: flex;
    align-items: center;
    gap: rem(20);

    min-height: rem(57);
    a {
      color: $orange;
    }

    @include media-breakpoint-up(lg) {
      margin-left: auto;
      justify-content: space-evenly;
      width: 40%;
    }

    position: relative;
    padding: rem(20) 0;

    &:before {
      content: '';
      width: 200vw;
      height: 1px;
      background: white;
      opacity: .3;

      position: absolute;
      top: 0;
      left: -80vw;
      @include media-breakpoint-up(lg) {
        left: -3px;
      }
      @include media-breakpoint-only(md) {
        right: calc(45% - 3px);
        left: auto;
      }

      z-index: -1;
    }

    p {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  position: relative;
  z-index: 2;

  &:after {
    content: '';
    width: 140vw;
    @include block(1,1);
    border-radius: 100%;
    filter: blur(60px);
    background: linear-gradient(189deg, #ff2302 0%, #ff7131 4.4%, #fe3d67 12.4%, #872b94 70.62%, #171821 100%);
    position: absolute;
    top: 40%;
    left: -10%;
    z-index: -1;
    opacity: .4;
  }


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}

.social-icons {
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(64);
    height: rem(64);
    background: white;
    border-radius: 50%;
  }

  a:hover .icon {
    fill: $primary;
  }

  .icon {
    fill: $purple;
    @include mt;
  }
}