// start .sSlider
.sSlider {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	
	&__slider {
	}
	.section-title{
		
	}

	&__img-wrap {
		display: block;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
	}
	.swiper-slide {
		width: auto;
		height: 250px;
    margin-right: rem(10);
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider