// start .sSlider
.sSlider {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;
  --bg-run-line: #{$purple};

	&:before {
    content: '';
    right: 0;
    top: 0;
    transform: translate(40%,-50%);
    width: rem(270);
    @include block(1,1);
    position: absolute;
    max-width: 30%;
    border-radius: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(135, 43, 151) 0%, rgb(254, 61, 103) 100%);
    filter: blur(150px);
    z-index: -1;
  }

  &__slider {
    margin-top: rem(10);

    .swiper-slide {
      width: auto;
      height: 250px;
      margin-right: rem(10);
    }

    .swiper-wrapper {
      // justify-content: center;
    }
  }

	&__img-wrap {
		display: block;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider


.running-line {
  --icon-width: 34px;
  @include media-breakpoint-up(md) {
    --icon-width: 64px;
  }

  background: var(--bg-run-line, #{$body-color});
  padding: rem(18) 0;
  transform: translateX(calc(var(--icon-width) / 2 * -1));
  overflow: hidden;
  text-wrap: nowrap;
  width: calc(100vw + 100px);

  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  gap: rem(32);
  @include media-breakpoint-up(md) {
    gap: rem(52);
  }

  color: white;

  &__item {
    font-weight: 700;
    font-size: rem(20);
    @include media-breakpoint-up(md) {
      font-size: rem(36);
    }
    text-transform: uppercase;
  }

  img {
    width: var(--icon-width);
  }
}
