mixin sStub(data)
	// start sStub
	+b.SECTION.sStub.section#sStub&attributes(attributes)
		+img(src="img/corner-right.svg", alt="").corner.right
		+img(src="img/corner-left.svg", alt="").corner.left
		+img(src="img/stub-bg.png", alt="").stub
		.contant
			+img(src="img/logo.svg", alt="").logo
			+e.wrapper.text-center
				.h2 Скоро здесь будет сайт
				+e.btn.btn.btn-light(href='https://runet.id/event/rif24') Перейти на RUNET.ID
	// end sStub