mixin sSchedule(data)
	// start sSchedule
	+b.SECTION.sSchedule.section#sSchedule&attributes(attributes)
		.container
			.tabs.sticky-wrap
				+e.top-row.row
					+e.col.col-md-3
						+title('программа')
					+e.col.col-md-4
						.h3 Расписание и спикеры
					+e.col.col-md
						.tabs__caption.sidebar-sticky
							.tabs__btn.active 1 зал
							.tabs__btn 2 зал
							.tabs__btn 3 зал
				+e.schedule
					.tabs__content.active
						+row('10:30','регистрация')
						+row('11:00 - 12:00','открытие конференции')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
						+row('13:00 - 14:00','Алло, редакция?')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
						+row('11:00 - 12:00','Размещаем контент: площадки для подкастов')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
						+row('11:00 - 12:00','Включите погромче. Подкасты и бренды')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
						+row('11:00 - 12:00','прослушивание и как считать это в рекламе')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
					.tabs__content
						+row('10:30','регистрация')
						+row('11:00 - 12:00','открытие конференции')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
						+row('13:00 - 14:00','Алло, редакция?')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
					.tabs__content
						+row('10:30','регистрация')
						+row('11:00 - 12:00','открытие конференции')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
						+row('13:00 - 14:00','Алло, редакция?')
							+e.list
								+person('1', 'Сергей Гребенников', 'РАЭК /модератор/')
								+person('4', 'Андрей Копецкий', 'Podster.fm')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
								+person('2', 'Сергей Плуготаренко', 'АНО Цифровая Экономика')
								+person('5', 'Ярослав Макаров', 'Adindex')
								+person('3', 'Мария Сайкина', 'РАЭК')
								+person('6', 'Наталья Лосева', 'МИА «Россия сегодня»')
						+row('12:00','нетворкинг')
			.text-center: +e.btn.btn.btn-primary(href='#' download) #[span загрузить pdf]
	// end sSchedule

mixin person(i, title, p)
	+b.person-info
		+e.img-wrap: +img(src=`img/person-${i}.png`, alt="").img-bg
		+e.content 
			+e.name.fw-500=title
			.text-secondary=p

mixin row(time, title)
	+e.row.row
		+e.col.col-md-3
			.fw-500=time
		+e.col.col-md
			+e.row-title=title
		+e.col.col-md-auto
			.text-right.text-secondary 1 зал,  2 этаж
		if block
			+e.col.col-md-8.offset-md-3
				block
