.top-nav {
	// --sPT: #{rem(30)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
  // padding-top: rem(30);
  position: absolute;
  top: rem(30);
  left: 0;
  width: 100%;
  z-index: 10;

	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
    justify-content: space-between;
	}

	&__logo-wrap {
    display: inline-block;
    width: rem(153);
    max-width: 50vw;

    img {
      width: 100%;
    }
	}

	&__btn {
		@media (max-width: 366px) {
      --bs-btn-padding-x: #{rem(10)};
      --bs-btn-padding-y: #{rem(13)};
    }
	}


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


